body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0 7px;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    display: flex;
    gap: 15px;
    align-items: end;
    justify-content: center;
    flex-grow: 5;
    margin: 10px;
}

footer p {
    font-size: 14px;
    color: #333;
    text-align: center;
}

footer a {
    color: #444;
}

footer a:hover {
    color: #555;
}

footer .contacts a {
    text-decoration: none;
}

footer .copyright:before {
    content: '©';
}

footer svg {
    height: 20px;
    padding: 3px;
    background-color: rgb(143, 143, 143);
}
